html, body, #root {
    margin: 0;
    padding-top: 5px;
    height: 100%;
    text-align: center;
    font-size: x-large;
    background-image: linear-gradient(magenta, darkmagenta);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: blue;
}

.Box {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}



form {
    display: inline-block;
    width: 440px;
    height: 550px;
    text-align: left;
    border: 2px solid;
    margin: 5px;
    margin-top: 0px;
    padding: 10px;
    border-color: rgb(236, 29, 74);
    border-radius: 25px;
    box-shadow: 10px 5px 8px lightyellow;
    opacity: 0.8;
    background-color: cornsilk;
    color: black;
    flex-wrap: initial;
    text-align: center;
    font-size: 17px;
}


form > input, form > button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: large;
}

form > label {
    font-size: large;
}

.Err {
    color: red;
    position:absolute;
    font-size: x-large;
    margin: 0 20px;
}
img{
    height: 40px;
    width: 40px;
}