.pagination {
    list-style: none;
}
.pagination li{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: gray;
}

.pagination li a {
    color: wheat;
    font-size: 24px;
}
.previous-page:hover,
.next-page:hover {
  background-color: black;
}