.pagination {
    list-style: none;
}
.pagination li{
    display: inline-block;
    padding: 1px;
    margin: 1px;
    cursor: pointer;
}

.pagination li a {
    color: lightpink;
    font-size: 24px;
}

.Pagination > button {
    height: 100%;
    width: 100%;
    align-items: left;
    text-align: left;
}

.pagination .reportLink{
    text-align: left;
    
}